*{
    --cor-de-fundo:#202631;
    --cor-de-fonte:#14fff1;
    --cor-da-borda:#14fff1;
    --cor-sombra-texto:rgba(255,255,255,0.3);
    --cor-sombra-caixa:#14fff1;
    --cor-sobra-caixa-interna:#14fff1;
    --cor-sombra-espelho:#14fff1;
    --cor-neon-externo:#14fff1;
    --cor-fonte-hover:#202631;
    --cor-neon-ativo:#14fff1;

}


